:host{
    width: 100%;
}

.report-panel{
    margin-right: 36px;
    margin-top: 8px;
}

.mat-card{
    width: calc(100% - 40px);
    min-height: 180px;
    max-height: 180px;
    margin-bottom: 20px;
    margin-left: 20px;
    margin-right: 20px;
    box-shadow: none;
    text-transform: uppercase;
    letter-spacing: 0.1ch;
    color: rgba(0,0,0,.7);
    padding-left: 20px;
    padding-right: 20px;
}

.mat-card-header-control{
    margin-left: -32px;
    margin-bottom: 10px;
}

.mat-card-textarea, .mat-card-textarea-opt{
    width: calc(100% - 18px);
    height: 120px;
    border-radius: 4px;
    background-color: rgba(239, 239, 239, 1);
    border-color: rgba(239, 239, 239, 1);
    font-size: 16px;
    padding-top: 10px;
    padding-left: 14px;
    color: rgba(0,0,0,.7);
}

.mat-card-textarea-opt{
    margin-bottom: 10px;
}

.mat-radio-button{
    width: 120px;
}

.mat-group-label{
    float: left;
    width: 80px;
    margin-top: 2px;
}

.mat-group-div{
    margin-bottom: 6px;
}

.mat-card-textarea:focus, .mat-card-textarea-opt:focus{
    outline: none;
}

.mat-slide-content{
    width: 100%;
    height: 100%;
}

textarea{
    resize: none !important;
}

.mat-list{
    overflow-y: scroll;
    height: 130px;
    background-color: rgba(239, 239, 239, 1);
    text-transform: initial;
    border-radius: 4px;
}
.mat-list-item{
    height: 36px !important;
}
.mat-list-dot{
    color: grey;
    font-size: 14px !important;
    margin-top: 12px;
}
