<div class="report-panel">
    <mat-card *ngFor="let control of ctrlData" class="mat-card">
        <mat-card-header class="mat-card-header-control">
            {{control.title}}
        </mat-card-header>
        <mat-card-content *ngIf="control.component_type == 'textarea'">
            <textarea matInput placeholder="{{control.placeholder}}" class="mat-card-textarea"></textarea>
        </mat-card-content>
        <mat-card-content *ngIf="control.component_type == 'listarea'">
            <mat-list role="list" class="mat-list">
                <mat-list-item *ngFor="let item of control.details" role="listitem">
                    <mat-icon mat-list-icon class="mat-list-dot">lens</mat-icon>
                    {{item}}
                </mat-list-item>
            </mat-list>
        </mat-card-content>
        <mat-card-content *ngIf="control.component_type == 'media'">
            <mat-carousel proportion="35" slides="{{control.details.length}}" [hideArrows]="false" [hideIndicators]="false" color="primary" [autoplay]="false">
                <mat-carousel-slide
                    #matCarouselSlide
                    class="mat-slide-tab"
                    *ngFor="let slide of control.details; let i = index"
                    overlayColor="#efefef">
                    <img *ngIf="slide.name == 'screenshot'" src="{{slide.src}}" class="mat-slide-content">
                    <video *ngIf="slide.name == 'video'" controls class="mat-slide-content">
                        <source src="{{slide.src}}" type="video/{{slide.type}}">
                    </video>
                </mat-carousel-slide>
            </mat-carousel>
        </mat-card-content>
        <mat-card-content *ngIf="control.component_type == 'textandstatus'">
            <textarea matInput placeholder="{{control.placeholder}}" class="mat-card-textarea-opt" [style.height]="'120' - 20*control.details.length + 'px'"></textarea>
            <div *ngFor="let group of control.details" class="mat-group-div">
                <span class="mat-group-label">{{group.title}}</span>
                <mat-radio-group aria-label="Select an option">
                    <mat-radio-button *ngFor="let optnode of group.options; first as first" value="{{optnode.value}}" [checked]="first">{{optnode.data}}</mat-radio-button>
                </mat-radio-group>
            </div>
        </mat-card-content>
        <mat-card-content *ngIf="control.component_type == 'download'">
            <mat-carousel class="mat-file-carousel" proportion="35" slides="{{control.details.length}}" [hideArrows]="false" [hideIndicators]="false" color="primary" [autoplay]="false">
                <mat-carousel-slide
                    #matCarouselSlide
                    class="mat-slide-tab"
                    *ngFor="let slide of control.details; let i = index"
                    overlayColor="#efefef">
                    <img *ngIf="slide.name == 'PDF'" (click)="onDownload(slide.src)" src="./assets/icons/pdf.png" class="mat-slide-content">
                    <img *ngIf="slide.name == 'PPT'" (click)="onDownload(slide.src)" src="./assets/icons/ppt.png" class="mat-slide-content">
                </mat-carousel-slide>
            </mat-carousel>
        </mat-card-content>
    </mat-card>
</div>
