<mat-toolbar>
    <mat-toolbar-row>
        <span class="menu-title text-grey title-center">{{strTitle}}</span>
    </mat-toolbar-row>
    <mat-toolbar-row>
        <button mat-raised-button [disableRipple]="true" class="btn-custom" (click)="onExpandAll()">EXPAND ALL</button>
        <button mat-raised-button [disableRipple]="true" class="btn-custom" (click)="onCollapseAll()">COLLAPSE ALL</button>
        <span class="spacer"></span>
        <button mat-raised-button [disableRipple]="true" class="btn-custom">SHARE</button>
    </mat-toolbar-row>
</mat-toolbar>
<div style="padding-top: 24px;">
    <mat-grid-list cols="2">
        <mat-grid-tile [colspan]="1">
            <mat-tree [dataSource]="dataSource" [treeControl]="treeControl" class="tree-menu">
                <mat-nested-tree-node *matTreeNodeDef="let node" matTreeNodeToggle style="overflow: visible">
                    <li class="example-tree-container-child" [style.borderColor] = "node.bordercolor">
                        <!-- <button mat-icon-button disabled></button> -->
                        <div class="mat-tree-node" (mousedown)="onSetColor(node)" (click)="onSetTitle(node)" style="border-left: 14px solid #7441a2;">
                            <button mat-button [disableRipple]="true" class="mat-tree-child-last">{{node.name}}</button>
                        </div>
                    </li>
                </mat-nested-tree-node>
                <mat-nested-tree-node *matTreeNodeDef="let node; when: hasChild">
                    <li class="example-tree-container" [style.borderColor] = "node.bordercolor">
                        <div class="mat-tree-node menu-item">
                            <button mat-button matTreeNodeToggle [disableRipple]="true"
                                    [attr.aria-label]="'toggle ' + node.name" class="mat-tree-button"
                                    [style.borderLeft]="'14px solid' + node.color"
                                    (mousedown)="onSetColor(node)"
                                    (click)="onSetTitle(node)">
                            <!-- <mat-icon class="mat-icon-rtl-mirror">
                                {{treeControl.isExpanded(node) ? 'expand_more' : 'chevron_right'}}
                            </mat-icon> -->
                            <span>{{node.name}}</span>
                            </button>
                        </div>
                        <ul class="example-tree-nested-node" [style.borderColor] = "node.bordercolor">
                            <div  *ngIf="treeControl.isExpanded(node)">
                            <ng-container matTreeNodeOutlet></ng-container>
                            </div>
                        </ul>
                    </li>
                </mat-nested-tree-node>
            </mat-tree>
        </mat-grid-tile>
        <mat-grid-tile [colspan]="1">
            <!-- <app-rightpanel [ctrlData]="rPanel"></app-rightpanel> -->
        </mat-grid-tile>
    </mat-grid-list>
</div>


      