@import '@angular/material/prebuilt-themes/deeppurple-amber.css';
/* You can add global styles to this file, and also import other style files */
:root{
    --node-focus-color: #fff;
}

body{
    margin: 0;
    background-color: rgba(239, 239, 239, 1);
}

.mat-grid-tile:first-child .mat-figure {
   justify-content: flex-start !important ;
   align-items: flex-start !important;
}
.mat-grid-tile:last-child .mat-figure {
    justify-content: flex-start !important ;
    align-items: flex-start !important;
 }
.mat-grid-tile{
    overflow: visible !important;
}
.mat-button-focus-overlay{
    background-color: #fff !important;
    opacity: 0 !important;
}

.mat-nested-tree-node:last-child > li > ul{
    border-left: 1px solid rgba(239, 239, 239, 1) !important;
    margin-left: -41px !important;
}

.mat-tree{
    margin-left: -20px !important;
}

.carousel-slide{
    height: 134px !important;
}

.carousel-indicators{
    left: 0px !important;
    transform: none !important;
}

.carousel{
    height: 170px;
}

.carousel-indicators > button{
    width: 14px !important;
    height: 14px !important;
}

.carousel-indicators{
    bottom: 8px !important;
}

.carousel > .mat-icon-button{
    margin-top: -20px;
    color: white;
}

.carousel > button:first-of-type{
    left: 20px !important;
}

.carousel > button:last-of-type{
    right: 20px !important;
}

.carousel-list{
    border-radius: 4px !important;
}

.mat-primary{
    background-color: #25ace0 !important;
}

.mat-fab[disabled]:not([class*=mat-elevation-z]), .mat-mini-fab[disabled]:not([class*=mat-elevation-z]){
    -webkit-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
    -moz-box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
    box-shadow: 0px 0px 0px 2px rgba(0,0,0,0.1);
}
.mat-fab:not([class*=mat-elevation-z]), .mat-mini-fab:not([class*=mat-elevation-z]){
    box-shadow: none;
}

.mat-radio-button.mat-accent .mat-radio-inner-circle, .mat-radio-button.mat-accent .mat-radio-ripple .mat-ripple-element:not(.mat-radio-persistent-ripple), .mat-radio-button.mat-accent.mat-radio-checked .mat-radio-persistent-ripple, .mat-radio-button.mat-accent:active .mat-radio-persistent-ripple{
    background-color: #25ace0 !important;
}
.mat-radio-button.mat-accent.mat-radio-checked .mat-radio-outer-circle{
    border-color: #25ace0 !important;
}

.mat-file-carousel .carousel-slide-content{
    text-align: center;
}
.mat-file-carousel img{
    width: initial !important;
}